.titleBar {
  border-bottom: solid;
  background: white;
  text-align: left;
  padding: 20px 0px;
}

.options {
  border: solid;
}

.filter_container {
  border: solid;
}

.brandLayout_cardContainer {
  display: grid;
  grid-template-columns: 24% 24% 24% 24%;
  grid-column-gap: 1.34%;
  grid-row-gap: 10px;
}

.brandSearchContainer {
  display: grid;
  grid-template-columns: 24% calc(49.34%) ;
  grid-column-gap: 1.34%
}

.brandGrid {
  padding-top: 10px;
  grid-template-columns: 1fr;
  display: grid;
  grid-row-gap: 10px
}