.titleBar {
  border-bottom: solid;
  background: white;
  text-align: left;
  padding: 20px 0px;
}

.options {
  border: solid;
}

.filter_container {
  border: solid;
}

.brandLayout_cardContainer {
  display: grid;
  grid-template-columns: 24% 24% 24% 24%;
  grid-column-gap: 1.34%;
  grid-row-gap: 10px;
}

.brandSearchContainer {
  display: grid;
  grid-template-columns: 24% calc(49.34%) ;
  grid-column-gap: 1.34%
}

.brandGrid {
  padding-top: 10px;
  grid-template-columns: 1fr;
  display: grid;
  grid-row-gap: 10px
}

.brandSearchBar {
  border: 1px grey solid;
  padding: 8px;
  display: flex;
  border-radius: 5px;
}

.brandSearchBar input {
  border: none;
  background: lightGrey;
}

.brandSearchBar input:active {
  width: 80%;
  outline-color: orange;
}

.brandSearchBar input:focus {
  width: 80%;
  outline: none;
  outline-color: orange;
}